@keyframes background-zoom {
  from {
    background-size: 200%;
  }
  to {
    background-size: 300%;
  }
}

// For our big 11: Since we are dealing with a FONT rather than an image,
// and the font-size is determined to fit a certain height (on md+),
// we size the WIDTH of the glyphs with font-weight.
// What's the maximum weight that will fit on any given aspect ratio?
:root {
  --max-11-weight: 600;
  @include media-md {
    @for $i from 1 through 6 {
      @media (min-aspect-ratio: #{12+$i"/10"}) {
        --max-11-weight: #{600+$i*50};
      }
    }
  }
}

.site-header {
  min-height: 70vh;
  position: relative;
  padding: 36px 0 60px;
  background-size: 200%;
  background-image: url('../images/gradient.jpg');

  // Give a little motion to the bg for life when the mouse isn't moving
  animation: background-zoom 3s infinite linear alternate;

  // Position the background based on --user-x/y (provided by JS)
  background-position: calc(100% * var(--user-x,0.8)) calc(100% * var(--user-y,0.8));

  @include media-md {
    min-height: auto;
    padding: 42px 0 60px;
  }

  .header-wrap {
    position: relative;
  }

  .title, .announcement {
    z-index: 1;
    text-align: center;

    @include media-md {
      text-align: left;
    }
  }

  .title {
    @include media-md {
      padding-left: 72px;
    }
  }

  .announcement {
    @include media-md {
      position: absolute;
      top: 0;
      left: 75%;
    }
  }

  // Heights for theater at different breakponts.
  // We'll be referencing these in .eleven as well to size the glyphs to the theater
  $theater-height:  60vw;
  $theater-height-md:  "(98vh - 204px)";

  // Container for 11, also what we position submit buttons relative to
  .theater {
    height: $theater-height;
    position: relative;
    margin: 72px 0 108px;

    @include media-md {
      margin: 54px 0 0;

      // Behave as on mobile until screen is wide enough in terms of aspect ratio...
      @media (min-aspect-ratio: #{"12/10"}) {
        height: calc(#{$theater-height-md}); // The height needed to ensure the header is height 98vh
      }
    }
  }

  .eleven {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    text-align: center;
    position: absolute;
    pointer-events: none;

    // Magic text sizing numbers to get the glyphs to be full height
    // (for more clarity, view in boxes debug mode by appending to URL: ?boxes=true)
    line-height: 0.57; // This line-height magically aligns the inline text to the container perfectly.
    font-size: calc(#{$theater-height} * 1.41); // 1.41 is a magic number, multiply it by container height to get the font-size

    @include media-md {

      @media (min-aspect-ratio: #{"12/10"}) {
        font-size: calc(#{$theater-height-md} * 1.41); // The height needed to ensure the header is height 98vh
      }
    }


    // Playing with variable fonts. Neat!
    font-family: 'variable-one'; // Will built a custom variable font file.

    span {
      color: transparent;
      background-size: 100vw;

      // Position the background based on --user-x/y (provided by JS)
      background-position: calc(100% * ( 1 - var(--user-x,0.8)) ) calc(100% * ( 1 - var(--user-y,0.8)) );

      // Clip text!
      background-image: url('../images/gradient.jpg');
      background-clip: text;
      -webkit-background-clip: text; // Need both

      &:nth-of-type(1) {
        font-variation-settings: 'wght' calc( var(--max-11-weight, 600) - (var(--max-11-weight, 600) - 100) * var(--user-x,0.5) );
      }
      &:nth-of-type(2) {
        font-variation-settings: 'wght' calc( var(--max-11-weight, 600) * var(--user-x,0.5) );
      }
    }
  }

  .submit-button {
    @include font-h1;
    z-index: 1;
    position: absolute;
    border-radius: 88px;
    padding: 16px 31px 14px;
    border: 2px solid black;
    text-transform: lowercase;

    &:hover {
      color: $white;
      background: $black;
    }

    &.-first {
      top: 0;
      left: 0;
      transform: rotate(30deg)  translate(-25%,-30%);
    }

    &.-second {
      right: 0;
      top: 40%;
      transform: rotate(-45deg) translate(70%,-30%);
    }

    &.-third {
      left: 50%;
      bottom: -10%;
      transform: rotate(-30deg) translate(-70%,-40%);
    }

    @include media-md {
      padding: 18px 50px 14px;

      &.-first {
        top: 20%;
        left: -7%;
        transform: translate(0,0) rotate(30deg);
      }

      &.-second {
        top: 70%;
        right: -10%;
        transform: rotate(-30deg) translate(0,0);
      }

      &.-third {
        display: none;
      }
    }

    @include media-lg {
      padding: 18px 50px 14px;

      &.-first {
        top: 0;
        left: 30%;
        transform: translate(-30%,-50%) rotate(30deg);
      }

      &.-second {
        top: 70%;
        right: 0%;
        transform: rotate(-30deg) translate(0,-50%);
      }
    }
  }
}