@keyframes background-zoom {
  from {
    background-size: 200%;
  }
  to {
    background-size: 300%;
  }
}

.site-header {
  min-height: 70vh;
  position: relative;
  padding: 36px 0 60px;
  background-size: 200%;
  background-image: url('/assets/images/gradient.jpg');

  // Give a little motion to the bg for life when the mouse isn't moving
  animation: background-zoom 3s infinite linear alternate;

  // Position the background based on --user-x/y (provided by JS)
  background-position: calc(100% * var(--user-x,0.8)) calc(100% * var(--user-y,0.8));

  @include media-md {
    height: 85vh;
    min-height: auto;
    padding: 42px 0 60px;
  }

  .header-wrap {
    position: relative;
  }

  .title, .announcement {
    z-index: 1;
    text-align: center;

    @include media-md {
      text-align: left;
    }
  }

  .title {
    @include media-md {
      padding-left: 72px;
    }
  }

  .announcement {
    @include media-md {
      position: absolute;
      top: 0;
      left: 75%;
    }
  }

  // Container for 11, also what we position submit buttons relative to
  .theater {
    height:  45vw;
    position: relative;
    margin: 72px 0 108px;

    @include media-md {
      margin: 54px 0 0;
      height: calc(85vh - 204px); // The height needed to ensure the header is height 85vh
    }
  }

  .eleven {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    text-align: center;
    position: absolute;
    pointer-events: none;
    background-size: 150%;

    // Position the background based on --user-x/y (provided by JS)
    background-position: calc(100% * ( 1 - var(--user-x,0.8)) ) calc(100% * ( 1 - var(--user-y,0.8)) );
 
    // Clip text!
    background-image: url('/assets/images/gradient.jpg');
    background-clip: text;
    -webkit-background-clip: text; // Need both

    // Magic text sizing numbers to get the glyphs to be full height
    // (for more clarity, view in boxes debug mode by appending to URL: ?boxes=true)
    line-height: 0.57; // This line-height magically aligns the inline text to the container perfectly.
    font-size: calc(45vw * 1.41); // 1.41 is a magic number, multiply it by container height to get the font-size

    @include media-md {
      font-size: calc((85vh - 204px) * 1.41); 
    }

    // Playing with variable fonts. Neat! 
    font-family: 'variable-one'; // Will built a custom variable font file.

    span {
      &:nth-of-type(1) {
        font-variation-settings: 'wght' calc( 900 - 900 * var(--user-x,0.5) );
      }
      &:nth-of-type(2) {
        font-variation-settings: 'wght' calc( 900 * var(--user-x,0.5) );
      }
    }
  }

  .submit-button {
    @include font-h1;
    z-index: 1;
    position: absolute;
    border-radius: 88px;
    padding: 16px 31px 14px;
    border: 2px solid black;
    text-transform: lowercase;

    &:hover {
      background: $black;
      color: $white;
    }

    &.-first {
      top: 0;
      left: 0;
      transform: rotate(30deg)  translate(-25%,-30%); 
    }

    &.-second {
      right: 0;
      top: 40%;
      transform: rotate(-45deg) translate(70%,-30%); 
    }

    &.-third {
      left: 50%;
      bottom: -10%;
      transform: rotate(-30deg) translate(-70%,-40%); 
    }

    @include media-md {
      padding: 18px 50px 14px;

      &.-first {
        top: 0;
        left: 40%;
        transform: rotate(30deg)  translate(-60%,0); 
      }

      &.-second {
        top: 50%;
        right: 0%;
        transform: rotate(-30deg) translate(0,-50%);
      }

      &.-third {
        display: none;
      }
    }
  }
}